.flashcard {
  width: 300px;
  height: 200px;
  flex-shrink: 0;
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  
}

.flashcard-Container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap;
  gap: 20px;
}
